DJANGO__SECRET_KEY=your-secret-key
DJANGO__ALLOWED_HOSTS='["127.0.0.1"]'

DJANGO__EMAIL_HOST='smtp.gmail.com'
DJANGO__EMAIL_PORT=587
DJANGO__EMAIL_USE_TLS=True
DJANGO__EMAIL_HOST_USER='youremail@gmail.com'
DJANGO__EMAIL_HOST_PASSWORD='abcd abcd abcd abcd'

DJANGO__ADMIN_NAME=admin
DJANGO__ADMIN_EMAIL=admin@gmail.com
DJANGO__ADMIN_PASSWORD=Password1!.

DATABASE__NAME=dbname
DATABASE__USER=dbuser
DATABASE__PASSWORD=dbpass
DATABASE__HOST=127.0.0.1